@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
}

.MyContainer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 25px;
}

.MyRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar {
    background-color: rgb(17, 16, 16);
}

.navbar-toggler {
    color: white;
    padding: 10px;
}

.nav-link {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400 !important;
    padding: 2.2rem 1.5rem !important;
}

.nav-link:hover,
.active {
    background-color: #ff3f40;
    color: white;
}

.navbar-toggler {
    background-color: #ff3f40;
    border: none !important;
    outline: none !important;
}


