html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.MyContainer {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

.MyRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar {
    background-color: rgb(17, 16, 16);
}

.navbar-toggler {
    color: white;
    padding: 10px;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400 !important;
    padding: 40px 25px !important;
}

.nav-link:hover,
.active {
    background-color: #ff3f40;
    color: white;
}

.navbar-toggler {
    background-color: #ff3f40;
    border: none !important;
    outline: none !important;
}

.section__1 {
    padding-top: 28px;
    height: 100vh;
}

.section__1__box {
    padding: 150px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section__1__box .content {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.section__1__box .content h1 {
    font-size: 55px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
}

.letter_space {
    letter-spacing: 10px;
}

.section__1__box .content p {
    width: 75%;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    padding: 10px 0;
}

.section__1__box .content .primary-btn {
    margin-right: auto;
    margin-top: 22px;
}

.primary-btn {
    font-size: 13px;
    padding: 12px 45px;
    border-radius: 5px;
    background-color: #ff3f40;
    color: white !important;
    font-weight: 700;
    transition: all 0.5s ease;
    border: 1px solid white;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #fff;
    color: #ff3f40 !important;
    border: 1px solid #ff3f40;
}

.section__1__box .video {
    width: 50%;
    text-align: right;
}
